import kotlinx.cinterop.staticCFunction

actual fun {{ foreign_callback_name }}.toForeignCallback() : ForeignCallback =
    staticCFunction{ handle: Handle, method: Int, argsData: UBytePointer?, argLen: Int, outBuf: RustBufferPointer?->
        // *_Nonnull is ignored by cinterop
        {{ foreign_callback_name }}.invoke(handle, method, requireNotNull(argsData), argLen, requireNotNull(outBuf))
    }
